@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 10rem;
}

main h2 {
  font-size: 3rem;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 4.8rem;
}

main h2 .icons {
  color: #68b984;
}

/* navbar styling  */

nav {
  width: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #ccc;
}

nav a {
  font-size: 2rem;
  font-family: "Lexend Deca", sans-serif;
  color: #ccc;
  border-bottom: 0.3rem solid transparent;
}

nav a:hover {
  border-color: #3a3845;
}

nav a.active {
  color: #000;
  border-color: #68b984;
}
